<div class="modal-header">
  <h5 class="modal-title" id="exampleModalLabel">{{ titleModal }}</h5>
  <button type="button" class="btn-close" aria-label="Close" (click)="modalRef.close()"></button>
</div>
<form [formGroup]="formSerie" (ngSubmit)="onSubmit()">
<div class="modal-body">
    <div class="row">
      <div class="col-3" *ngIf="!isNewSerie">
        <img src="{{getImage(formSerie.getRawValue().thumbnail)}}" alt="{{formSerie.getRawValue().title}}" width="100%">
      </div>
      <div [ngClass]="{'col-9': !isNewSerie, 'col-12': isNewSerie}">
        <div class="form-floating mb-3" *ngIf="!isNewSerie">
          <div class="row">
            <div class="col">
              <input formControlName="_id" type="text" class="form-control noteditable" id="_id"
                value="{{formSerie.getRawValue()._id}}" placeholder="ID" readonly>
              <label for="_id">ID</label>
            </div>
            <div class="col">
              <input formControlName="__v" type="text" class="form-control noteditable" id="__v"
                value="{{formSerie.getRawValue().__v}}" placeholder="ID" readonly>
              <label for="__v">__v</label>
            </div>
          </div>
        </div>
        <div class="form-floating mb-3">
          <input formControlName="title" type="text"
            [ngClass]="{'form-control': true, 'noteditable': (!isEdit && !isNewSerie) }" id="title"
            value="{{formSerie.getRawValue().title}}" placeholder="Título" [readonly]="!isEdit && !isNewSerie ">
          <label for="title">Título</label>
        </div>
        <div class="form-floating mb-3">
          <input formControlName="emissionYear" type="number"
            [ngClass]="{'form-control': true, 'noteditable': !isEdit && !isNewSerie }" id="emissionYear"
            value="{{formSerie.getRawValue().emissionYear}}" placeholder="2023" [readonly]="!isEdit && !isNewSerie ">
          <label for="emissionYear">Año</label>
        </div>
        <div class="form-floating mb-3">
          <input formControlName="chapters" type="number"
            [ngClass]="{'form-control': true, 'noteditable': !isEdit && !isNewSerie }" id="chapters"
            value="{{formSerie.getRawValue().chapters}}" placeholder="0" [readonly]="!isEdit && !isNewSerie ">
          <label for="chapters">Número de Capítulos</label>
        </div>

        <div class="form-floating mb-3">
          <textarea formControlName="resume" [ngClass]="{'form-control': true, 'noteditable': !isEdit && !isNewSerie }"
            id="resume" value="{{formSerie.getRawValue().resume}}" placeholder="Descripción"
            [readonly]="!isEdit && !isNewSerie "></textarea>
          <label for="resume">Descripción</label>
        </div>

        <div class="form-floating mb-3">

        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" *ngIf="!isEdit && !isNewSerie" (click)="editSerie()">Editar
      detalles</button>
    <button type="button" class="btn btn-primary" *ngIf="isEdit && !isNewSerie" (click)="cancelEditSerie()">Cancelar
      edición</button>
    <button type="submit" class="btn btn-primary" *ngIf="isEdit && !isNewSerie" (click)="onSubmit()">Guardar Cambios</button>
    <button type="submit" data-bs-dismiss="modalRef" class="btn btn-primary" *ngIf="isNewSerie" (click)="onSubmit()">Agregar serie</button>
    <button type="button" class="btn btn-red" *ngIf="!isNewSerie" (click)="removeSerie(serie)">Eliminar serie</button>
    <button type="button" class="btn btn-secondary" (click)="modalRef.close()">
      Cerrar ventana
    </button>
  </div>
</form>
